body {
	margin: 20px 20px 40px;
  	font-size: 1.1em;
  	background-color: #002;
  	color: #FFF;
}

.header h2, p {
	text-align: center;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 1em;
	left: 0;
}

a:link {
	color: #FFF;
}

a:hover {
	color: #F60;
}

.calculador {
	border: 1px solid #FFD;
	padding: 10px;
	background: #000;
	width: 320px;
	margin: auto;
	position: relative;
	align-items: center;
	justify-content: center;
}