body {
	margin: 20px 20px 40px;
  	font-size: 1.1em;
  	background-color: #000;
  	color: #FFF;
}

.header h2, p {
	text-align: center;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 1em;
	left: 0;
}

a:link {
	color: #FFF;
}

a:hover{
	color: #F60;
}